[core]
	autocrlf = input
	editor = vim
[push]
	default = tracking
[merge]
	tool = kdiff3
[color]
	ui = true
[alias]
	lg =  "!git lg1"
	llg =  "!git lg2"
	lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	localconfig = "!f() { touch ~/.gitconfig.local ; git config -f ~/.gitconfig.local "$@" ; }; f"
	triggercommit = commit --allow-empty -m "trigger"
	# https://stackoverflow.com/questions/12481639/remove-files-from-git-commit
	oops = reset --soft HEAD^
	# copymode. Removes leading + and - but keeps the color. E.g git cm diff --staged
	cm = "!f() { git "$@" --color | sed -r -e 's/^ //' -e 's/^(\\x1b\\[[0-9]{2}m)(\\+|-)/\\1/' | less ; }; f"
[include]
	# Create this file and add local config in the same format as in this file. To check global settings
	# you can issue "git config --global --includes". Also see "localconfig" alias defined above
	path = ~/.gitconfig.local
[user]
	name = Love Yregård
