[core]
	autocrlf = input
	editor = vim
[push]
	default = tracking
[merge]
	tool = kdiff3
[color]
	ui = true
[alias]
	gol = log --graph --decorate --oneline
	lg =  "!git gol"
	lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	localconfig = "!f() { touch ~/.gitconfig.local ; git config -f ~/.gitconfig.local "$@" ; }; f"
	triggercommit = commit --allow-empty -m "trigger"
[include]
	# Create this file and add local config in the same format as in this file. To check global settings
	# you can issue "git config --global --includes". Also see "localconfig" alias defined above
	path = ~/.gitconfig.local
