# Create a whitelist of files instead of a blacklist
# Ignore everything
/*

# Add back certain files again located directly in this dir
!/.gitignore
!/opencode.json
!/tui.json
!/README.md

# Add back certain directories (and all contents)
!/agents/
!/commands/
!/modes/
!/plugins/
!/skills/
!/tools/
!/themes/
